body{
    background-color: blue;
  color-primary: darkblue;
  color-error: darkred; 
  color-success: darkblue;
  border-radius: 4px;
  margin: 0;
  height: 100vh;
  display: right;
  align-items: right;
  justify-content: right;
  font-size: 18px;
background-image: url(/images/students.png);
background-repeat: no-repeat;
background-position: center;
background-image: right;
background-color: whitesmoke;  
}
.aboutme {
    padding: 2rem;
    
}
.home {
    padding: 2rem;
}
.admissions {
    padding: 2rem;

}
.apparel-gifts{
    padding: 2rem;
}
.sell {

}
.track{}
.login{
    margin-right: auto;
}
